# Feature Engineering Assignment

### Q1. What is data encoding? How is it useful in data science?

Data Encoding aims to convert Categorical Feature to suitable numerical feature.
There are various types of Data Encoding :

    1. Nominal / One Hot Encoding:
    
This is a simple encoding method where each category is assigned a unique binary value. For example, if you have a category called "color" with three values (red, green, and blue), you would create three new columns, one for each value. The value of each column would be 1 if the corresponding category is present and 0 if it is not.
    
    2. Ordinal and Label Encoding:
    
This is another simple encoding method where each category is assigned a unique integer value. For example, if you have a category called "color" with three values (red, green, and blue), you would assign the value 1 to red, 2 to green, and 3 to blue.
    
    3. Target Guided Encoding:
    
This is a more complex encoding method that takes into account the target variable. This can be useful for improving the performance of machine learning algorithms.
    
##### It is useful in Data Science to train a model. Model needs a Numeric value  instead of Categorical.We can use any of the Data Encoding method to convert the Categorical Feature to Numerical.

### Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

One-Hot Encoding is a type of data encoding that is used to convert categorical data into numerical data. This is done by creating a new column for each unique category in the original column. The value of each new column is 1 if the corresponding category is present and 0 if it is not.

For example, if you have a column of data with the values "red", "green", and "blue", you would create three new columns, one for each color. The value of each new column would be 1 if the corresponding color is present in the original column and 0 if it is not.

See the following example:

In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
df=sns.load_dataset('titanic')

In [4]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
# Applying OHE to sex column
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
encoded=encoder.fit_transform(df[['sex']])

# Creating a Data Frame
df1=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())
df1['sex']=df['sex']

In [6]:
df1.head()

   sex_female  sex_male     sex
0         0.0       1.0    male
1         1.0       0.0  female
2         1.0       0.0  female
3         1.0       0.0  female
4         0.0       1.0    male

### Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

Nominal encoding, also known as label encoding, is preferred over one-hot encoding in certain situations where there is a natural order or hierarchy among the categories in the feature being encoded. One-hot encoding, on the other hand, is typically used when there is no inherent order or hierarchy among the categories.

In [7]:
import seaborn as sns
df=sns.load_dataset('geyser')

In [8]:
df.head()

   duration  waiting   kind
0     3.600       79   long
1     1.800       54  short
2     3.333       74   long
3     2.283       62  short
4     4.533       85   long

In [9]:
pd.Categorical(df['kind'])

['long', 'short', 'long', 'short', 'long', ..., 'long', 'short', 'long', 'short', 'long']
Length: 272
Categories (2, object): ['long', 'short']

In [10]:
from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder(categories=[['short','long']])

In [11]:
encoded=encoder.fit_transform(df[['kind']])

In [12]:
df['encoded_kind']=encoded

In [13]:
df.head()

   duration  waiting   kind  encoded_kind
0     3.600       79   long           1.0
1     1.800       54  short           0.0
2     3.333       74   long           1.0
3     2.283       62  short           0.0
4     4.533       85   long           1.0

### Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms?  Explain why you made this choice.

If I had a dataset with 5 unique variables and I were to transform the data for Machine Learning Algorithm, I would choose One Hot Encoding. 

The reason for choosing one-hot encoding in this case is that it effectively represents the categorical information without imposing any ordinal relationship between the categories. Each category is transformed into a separate binary column, ensuring that the machine learning algorithm treats them as distinct and unrelated values.

By using one-hot encoding, we avoid assigning any numerical order or magnitude to the categorical values. This is crucial because assigning arbitrary values (e.g., 1, 2, 3) to the categories would imply an incorrect ordinal relationship. One-hot encoding provides a clear representation of categorical data that avoids any assumptions about the underlying meaning of the categories.

### Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

1000 rows and 5 columns.
2 columns are for Categorical Data.

for such a dataset, if I use Nominal Encoding...

Assuming that One Column of Categorical data has 2 unique Categories.
While, the Second Column of Categorical data has 5 unique Categories.

then 2 + 7 = 9 new columns will be created.

### Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

To transform the categorical data in the animal dataset into a format suitable for machine learning algorithms, one suitable encoding technique would be one-hot encoding. 
In the animal dataset, we have categorical columns such as "Species", "Habitat", and "Diet". One-hot encoding would be appropriate in this case for the following reasons:

* The "Species", "Habitat", and "Diet" columns contain categorical data, where each value represents a distinct category or group. One-hot encoding is commonly used for categorical data since it allows us to represent each category as a separate binary column.

* One-hot encoding is particularly useful when dealing with categorical data where there is no inherent ordinal relationship between categories. For example, in the "Species" column, there is no inherent order between Lion, Tiger, Giraffe, Penguin, and Elephant. One-hot encoding ensures that the algorithm does not incorrectly assume any ordinal relationship between the categories.

* One-hot encoding provides a numerical representation of categorical data that can be effectively utilized by machine learning algorithms. It enables algorithms to perform calculations, comparisons, and analyses on the categorical features. By converting the categorical data into numerical binary columns, one-hot encoding allows algorithms to process the information as input.


By applying one-hot encoding to the animal dataset, we create a suitable format for machine learning algorithms to process and utilize the categorical data effectively, enabling them to learn patterns and make predictions based on the encoded features.

### Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

From the given information I can conclude that there are 2 Categorical Features in the dataset. ie. Gender and Contract Type

For Both of them, One Hot Encoding can be used.
Because, One-hot encoding is suitable when there is no ordinal relationship between categories, and each category should be treated as distinct and unrelated. This encoding technique ensures that the machine learning algorithm does not interpret any false ordinal relationship among the contract types.

In [14]:
import pandas as pd
telecom_data = pd.DataFrame({'Contract Type': ['Postpaid', 'Prepaid', 'Fixed-Term', 'No-Contract', 'Family','Prepaid'],"Gender": ['Male','Female']*3})

In [15]:
telecom_data.head()

  Contract Type  Gender
0      Postpaid    Male
1       Prepaid  Female
2    Fixed-Term    Male
3   No-Contract  Female
4        Family    Male

In [16]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
encoded = encoder.fit_transform(telecom_data[['Contract Type','Gender']])

In [17]:
df=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [18]:
print(pd.concat([telecom_data,df],axis=1))

  Contract Type  Gender  Contract Type_Family  Contract Type_Fixed-Term  \
0      Postpaid    Male                   0.0                       0.0
1       Prepaid  Female                   0.0                       0.0
2    Fixed-Term    Male                   0.0                       1.0
3   No-Contract  Female                   0.0                       0.0
4        Family    Male                   1.0                       0.0
5       Prepaid  Female                   0.0                       0.0

   Contract Type_No-Contract  Contract Type_Postpaid  Contract Type_Prepaid  \
0                        0.0                     1.0                    0.0
1                        0.0                     0.0                    1.0
2                        0.0                     0.0                    0.0
3                        1.0                     0.0                    0.0
4                        0.0                     0.0                    0.0
5                        0.0                     0.0                    1.0

   Gender_Female  Gender_Male
0            0.0          1.0
1            1.0          0.0
2            0.0          1.0
3            1.0          0.0
4            0.0          1.0
5            1.0          0.0

## The End